body{
  width: 960px;
  height:640px;
  margin: 0 auto;
  background-image: linear-gradient(to top right, red, white);
}

.satu{
  width: 660px;
  height: 400px;
  margin: 0 auto;
  background-image: radial-gradient(farthest-corner circle at 50% bottom, white, blue);
}
.dua{
  width: 660px;
  height: 200px;
  margin: 0 auto;
  background-image: radial-gradient(farthest-corner circle at 0% , white, blue, white);

}
